<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>列表排序</title>
		<script type="text/javascript" src="../js/vue.js"></script>
	</head>
	<body>
		<div id="root">
			<h2>人员列表</h2>
			<input type="text" placeholder="请输入名字" v-model="keyWord">
			<button @click="sortType = 2">年龄升序</button>
			<button @click="sortType = 1">年龄降序</button>
			<button @click="sortType = 0">原顺序</button>
			<ul>
				<li v-for="(item,index) of filPersons" :key="item.id">
					{{item.name}}-{{item.age}}-{{item.sex}}
					<input type="text">
				</li>
			</ul>
		</div>

		<script type="text/javascript">
			Vue.config.productionTip = false
			//声明vue实例
			new Vue({
				el:'#root',
				data:{
					keyWord:'',
					sortType:0, 	//设置标志位: 0原顺序 1降序 2升序
					persons:[
						{id:'001',name:'马冬梅',age:30,sex:'女'},
						{id:'002',name:'周冬雨',age:18,sex:'女'},
						{id:'003',name:'周杰伦',age:25,sex:'男'},
						{id:'004',name:'刘昊然',age:20,sex:'男'}
					]
				},
				computed:{
					filPersons(){
						const arr = this.persons.filter((item)=>{
							return item.name.indexOf(this.keyWord) !== -1;
						})
						//先判断是否需要排序,即sortType值为1或者2时才进入判断;
						//arr.sort(a,b): 改变原数组,a-b升序,b-a降序;
						if(this.sortType){
							arr.sort((p1,p2)=>{
								return this.sortType === 1 ? p2.age-p1.age : p1.age-p2.age;
							})
						}
						return arr;
					}
				}
			}) 
		</script>
	</body>
</html>