<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>watch实现</title>
		<!-- 引入Vue -->
		<script type="text/javascript" src="../js/vue.js"></script>
	</head>
	<body>
<!-------------------------------------
1.computed与watch的区别：
（1）computed能完成的功能watch都可以完成;
（2）watch能完成的功能computed不一定能完成(watch可以进行异步操作)

2.原则：
（1）所被Vue管理的函数最好写成普通函数,这样this的指向才是vue实例或组件实例对象;
		(methods与computed中的方法以及监视属性中的handler与简写函数)
（2）所有不被Vue管理的函数最好写成箭头函数,这样this的指向才是vue实例或组件实例对象;
		(定时器的回调函数、ajax的回调函数等、Promise的回调函数)
-------------------------------------------------------->
	<div id="app">
		姓：<input type="text" v-model="firstName"> <br/><br/>
		名：<input type="text" v-model="lastName"> <br/><br/>
		全名(计算属性)：<span>{{FullName}}</span><br><br>
		全名(监视属性)：<span>{{fullName}}</span>
	</div>
</body>
<script type="text/javascript">
	Vue.config.productionTip = false
	//声明vue实例
	const app = new Vue({
		el:'#app',
		data:{
      firstName: 'Lebron',
      lastName: 'James',
			fullName:'Lebron James'		//监视属性需要有fullName初值
		},
		//计算属性
		computed:{
			FullName: function () {
        return this.firstName +' '+ this.lastName
      }
		},
		//监视属性
		watch:{
			//简写方式默认参数顺序:(newValue,oldValue)
			firstName(newValue){
				//异步定时器:不是vue调用的,是浏览器JS引擎调用的,this指向window;
				//需要通过箭头函数将this指向改变成离当前箭头函数最近的作用域(firstName)的this指向:vue实例;
				setTimeout(()=>{
					this.fullName = newValue + ' ' + this.lastName
				},1000);
			},
			lastName(newValue){
				this.fullName = this.firstName + ' ' + newValue
			}
		}
	})
</script>
</html>